[submodule "crates/vectorscan-sys/vendor/pcre"]
	path = crates/vectorscan-sys/vendor/pcre
	url = https://github.com/luvit/pcre
	branch = master
	shallow = true
[submodule "crates/vectorscan-sys/vendor/vectorscan"]
	path = crates/vectorscan-sys/vendor/vectorscan
	url = https://github.com/VectorCamp/vectorscan
	branch = master
	shallow = true
