[package]
name = "secrets"
edition = "2021"
version.workspace = true

[dependencies]
# workspace
anyhow = { workspace = true }
common = { package = "common", path = "../common" }
itertools = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

futures = "0.3.31"
lazy_static = "1.5.0"

# remote
dd-sds = { git = "https://github.com/DataDog/dd-sensitive-data-scanner.git", rev = "2b1863f7c45e411d60e63b14a81c7fcc8f652f6f" }
strum = "0.25.0"
