[package]
name = "secrets"
edition = "2021"
version.workspace = true

[dependencies]
# workspace
anyhow = { workspace = true }
common = { package = "common", path = "../common" }
itertools = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

futures = "0.3.31"
lazy_static = "1.5.0"

# remote
dd-sds = { git = "https://github.com/DataDog/dd-sensitive-data-scanner.git", rev = "a120e058d8533d41232318e6e4753e3e6d9104e4" }
strum = "0.25.0"
